Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-JWT-Extended==4.6.0
flasgger==0.9.7.1
hvac==2.3.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
cryptography==42.0.8
passlib[bcrypt]==1.7.4
pyotp==2.9.0
limits==3.13.0
Flask-Limiter==3.8.0
Werkzeug==3.0.3
gunicorn==22.0.0
marshmallow==3.21.3
Flask-CORS==4.0.1
requests==2.32.3
